@define TotalLength: 30s;
@define TimingFunc: linear;
@define IterationCount: 1;

.AddonLoadingRoot
{
    width: 100%;
    height: 100%;
    background-color: black;
}

#TitlePanel
{
	horizontal-align: left;
	vertical-align: bottom;
	margin-bottom: 170px;
	margin-left: 20px;
	flow-children: right;
}

#OverthrowTitle
{
	margin-bottom: 300px;
	vertical-align: center;
	text-transform: uppercase;
	font-size: 40px;
	color: #cccccc;
	text-shadow: 5px 1px 1px #000000;
}

.SeqImg
{
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
}

.SeqBg
{
	background-repeat: repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
}

#seq
{
    overflow: clip;
	pre-transform-scale2d: 1.0, 1.0;
}

@keyframes 'x' {}

#seq_bg
{
	animation-name: seq_bg_anim;
	animation-duration: TotalLength;
	animation-timing-function: TimingFunc;
	animation-iteration-count: IterationCount;
    margin-left: 0px;
}

@keyframes 'seq_bg_anim'
{
	0%
	{
		pre-transform-scale2d: 1.0;
	}

	100%
	{
	}
}