@define TotalLength: 30s;
@define TimingFunc: linear;
@define IterationCount: 1;

.CustomHudRoot
{
	width: 100%;
	height: 100%;
}

#JungleSpiritsHUD
{
	width: 100%;
	height: 100%;
}

.AltPressed #JungleSpiritsHUD
{
	visibility: collapse;
}

#JungleSpiritsDisplayUI
{
    width: 100%;
    height: 100%;
}

.MorokaiSide
{
    width: 50%;
    height: 100%;
}
.MorokaiSide_Radiant
{
    horizontal-align:left;
}
.MorokaiSide_Dire
{
    horizontal-align:right;
}

.MorokaiContainer
{
    vertical-align: top;
    width: fit-children;
    height: fit-children;
}
.MorokaiSide_Radiant .MorokaiContainer
{
    horizontal-align: right;
    margin-right: -62px;
	margin-top: 40px;
}
.MorokaiSide_Dire .MorokaiContainer
{
    horizontal-align: left;
    margin-left: 20px;
	margin-top: 40px;
}

.IsShopOpen
{
	visibility: collapse;
}

#ExpandButton
{
	horizontal-align: center;
	vertical-align: middle;

	width: 48px;
	height: 48px;

	background-image: url("s2r://panorama/images/hud/reborn/statbranch_button_bg_psd.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	transition-property: background-image;
	transition-duration: .05s;
}

#ExpandButton:hover,
.Expanded #ExpandButton
{
	background-image: url("s2r://panorama/images/hud/reborn/levelup_plus_fill_psd.vtex");
}

#GlobalAbilities,
#NextAbilityTier
{
	width: 115px;
	flow-children: right-wrap;
	margin-top: -4px;
	margin-bottom: 5px;
	horizontal-align: right;
}

#NextAbilityTier
{
	visibility: collapse;
}

.NextTierButton
{
	horizontal-align: center;
}


.MorokaiSide_Dire #GlobalAbilities
{
	horizontal-align: left;
}

#GlobalAbilities DOTAAbilityPanel
{
	horizontal-align: left;
	
	width: 52px;
	height: 52px;
	vertical-align: top;
}

#NextAbilityTier DOTAAbilityImage
{
	horizontal-align: left;
	width: 55px;
	height: 55px;
	vertical-align: center;
	padding: 2px;
	z-index: 100;
}

#NextAbilityTier .CanBranchBeUpgraded  DOTAAbilityImage
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #552F9A ), to( #B685F7 ) );
    /*box-shadow: -4px -4px 8px 8px accentColor;*/
}

#NextAbilityTier .CostContainer
{
	width: 100%;
	height: 100%;
	visibility: collapse;
	z-index: 101;
}

.FullyUpgraded .SpiritPointsAmount
{
	visibility: collapse;
}

.CostContainer .SpiritPointsAmount
{
	font-size: 16px;
	text-align: center;
	horizontal-align: center;
	vertical-align: center;
	font-size: 32px;
	font-weight: bold;
}

#NextVolcanoTier:hover .CostContainer, #NextStormTier:hover .CostContainer, #NextJungleTier:hover .CostContainer
{
	visibility: visible;
}

.SkillTree
{
	flow-children: down;
	vertical-align: top;
	horizontal-align: center;
	margin-top: 80px;
	/*margin-bottom: 50px;*/
	background-image: url("s2r://panorama/images/scroll_open_png.vtex");
	background-size: 100%;
	padding: 10px;
	height: 800px;
	width: 440px;
	//opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
	padding-top: 35px;
}

.Expanded .SkillTree
{
	visibility: visible;
}

#SkillTitle {
	background-image: url("s2r://panorama/images/compendium/international2019/morokai_logo_png.vtex");
	background-size: 100%;
	width: 80%;
	height: 80px;
	margin-bottom: -5px;
	horizontal-align: center;
	brightness: 1.4;

}

#SkillNames {
	flow-children: right;
	margin-top: 20px;
	horizontal-align: center;
	width: 350px;
}

.Category {
	flow-children: down;
	padding: 0px 5px;
	/*padding-top: 25px;*/
	/*padding-bottom: 25px;*/
	horizontal-align: center;
	width: 33.3%;
}

#SpiritTitle #CategoryIcon {
	background-image: url("s2r://panorama/images/morokai_spirit_category_png.vtex");
	background-size: 100%;
}

#StormTitle #CategoryIcon {
	background-image: url("s2r://panorama/images/morokai_storm_category_png.vtex");
	background-size: 100%;
}

#WrathTitle #CategoryIcon {
	background-image: url("s2r://panorama/images/morokai_wrath_category_png.vtex");
	background-size: 100%;
}

.Category Label {
	horizontal-align: center;
	font-weight: black;
	color: #dedede;
	font-size: 14px;
	letter-spacing: 1.5px;
	text-shadow: 1px 1px 2px #000000;
	margin-top: -17px;
    text-transform: uppercase;
}

#SpiritTitle Label {
	color: gradient( linear, 0% 0%, 0% 100%, from( #95cf4a ), to( #2d944f ) );
}

#StormTitle Label {
	color: gradient( linear, 0% 0%, 0% 100%, from( #01d8e3 ), to( #3f84b7 ) );
}

#WrathTitle Label {
	color: gradient( linear, 0% 0%, 0% 100%, from( #f15f5f ), to( #b73f3f ) );
}

#CategoryIcon {
	width: 100px;
	height: 100px;
	horizontal-align: center;
}

#SpiritTitle, #StormTitle {
	margin-top: 50px;
}

#JungleColumn, #StormColumn {
	margin-top: 50px;
}



#SkillColumns {
	flow-children: right;
	height: fit-children;
	width: 350px;
	height: 100%;
	horizontal-align: center;
	margin-top: -50px;
}

.SkillColumn
{
	padding: 0px 10px 25px 10px;
	/*padding-top: 25px;*/
	/*padding-bottom: 25px;*/
	flow-children: down;
	horizontal-align: center;
	width: 33.3%;
}

.SkillTier
{
	horizontal-align: center;
	/*wash-color: #000000EE;*/
	flow-children: down;
	border-color: white;
	margin-bottom: 0px;

}

.SkillPath
{
	width: 5px;
	height: 20px;
	vertical-align: center;
	horizontal-align: center;
	z-index: -5;
	margin-top: -5px;
	opacity: 0.3;
	background-color: #00000050;
	/*opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");*/
}

#JungleColumn .Learned .SkillPath
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #95cf4a ), to( #2d944f ) );
	box-shadow: 0px 0px 10px #00000050;
}

#VolcanoColumn .Learned .SkillPath
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #f15f5f ), to( #b73f3f ) );
	box-shadow: 0px 0px 10px #00000050;
}

#StormColumn .Learned .SkillPath
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #01d8e3 ), to( #3f84b7 ) );
	box-shadow: 0px 0px 10px #00000050;
	/*opacity: 0.6;*/
}

.Learnable .SkillPath,
.Learned .SkillPath
{
	opacity: 1;
}

.SkillTree DOTAAbilityImage
{
	vertical-align: center;
	horizontal-align: center;
	/*margin: 5px;*/
	/*margin-left: 2px;*/
	/*margin-right: 2px;*/
	/*width: 70%;*/
	/*height: 70%;	*/
	/*opacity-mask: url("s2r://panorama/images/masks/portrait_scratch_psd.vtex");*/
}

.AbilityContainer
{
	width: 60px;
	height: 60px;
	flow-children: none;
	opacity: 0.6;
	brightness: 0.3;
	saturation: 0.3;
	/*opacity-mask: url("s2r://panorama/images/masks/softedge_circle_sharp_png.vtex");*/
	margin-top: -5px;
	z-index: 5;
}

.BeastPassive .AbilityContainer {
	width: 40px;
	height: 40px;
}

.PlayerPassive .AbilityContainer {
	width: 40px;
	height: 40px;

}

.BeastAbility .AbilityContainer {
	width: 50px;
	height: 50px;
	box-shadow: 0px 0px 30px #00000080;
}

.AbilityOverlay
{
	width: 40px;
	height: 40px;

	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}


.SkillTree .PlayerPassive DOTAAbilityImage
{
	opacity-mask: url("s2r://panorama/images/masks/softedge_circle_sharper_png.vtex");
}

.SkillTree .PlayerPassive .AbilityOverlay
{
	background-image: url("s2r://panorama/images/player_passive_overlay_psd.vtex");
}

.SkillTree .BeastPassive DOTAAbilityImage
{
	/*opacity-mask: url("s2r://panorama/images/masks/softedge_circle_sharper_png.vtex");*/
}

.SkillTree .BeastAbility .AbilityOverlay
{
	background-image: url("s2r://panorama/images/beast_ability_overlay_psd.vtex");
	width: 50px;
	height: 50px;
}

@keyframes 'LearnableAbility'
{
    0%
    {
    	brightness: 1;
		saturation: 0.5;
		opacity: 1;

    }


    50%
    {
    	brightness: 2.0;
		saturation: 1;
		opacity: 1;
    }

    100%
    {
    	brightness: 1;
		saturation: 0.5;
		opacity: 1;
    }
}

.Learnable > .AbilityContainer
{
	animation-name: LearnableAbility;
    animation-duration: 1.0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
	opacity-mask: none;
	opacity: 1;
	brightness: 1;
	saturation: 1;
}

.Learned > .AbilityContainer
{
	opacity-mask: none;
	opacity: 1;
	brightness: 1.5;
	saturation: 1;
}

/*#JungleColumn .Learnable > .AbilityContainer*/
/*{*/
/*	background-color: gradient( linear, 0% 0%, 0% 100%, from( #95cf4a ), to( #2d944f ) );*/
/*}*/

/*#VolcanoColumn .Learnable > .AbilityContainer*/
/*{*/
/*	background-color: gradient( linear, 0% 0%, 0% 100%, from( #f15f5f ), to( #b73f3f ) );*/
/*}*/

/*#StormColumn .Learnable > .AbilityContainer*/
/*{*/
/*	background-color: gradient( linear, 0% 0%, 0% 100%, from( #01d8e3 ), to( #3f84b7 ) );*/
/*}*/



.Minor DOTAAbilityImage
{
	//width: 20px;
	//height: 20px;
}

.GlobalAbilityContainer
{
	vertical-align: center;
	horizontal-align: center;
	height: 100%;
}


.GlobalAbilityContainer .CostContainer
{
	vertical-align: bottom;
	horizontal-align: right;

	background-image: url("s2r://panorama/images/hud/manaamount_bg_png.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin-bottom: -10px;
	margin-right: -5px;
}

.SkillTier .SpiritPointsAmount
{
	background-color: #000000ee;

	font-size: 18px;
	height: 25px;
	vertical-align: center;
	horizontal-align: center;
	text-align: center;
	visibility: visible;
	padding-bottom: 10px;
	z-index: 10;
}

.Learnable .SpiritPointsAmount
{
	visibility: visible;
}

.Learnable.SkillTier
{
	wash-color: none;
}

.Learned.SkillTier
{
	wash-color: none;
}

.NoCost .SpiritPointsAmount
{
	visibility: collapse;
}

.MorokaiSide_Dire #MorokaiStatus
{
	transform: scaleX(-1);
}
.MorokaiSide_Dire .Unmirrored
{
    transform: scaleX(-1);
}

#MorokaiStatus
{
	width: 400px;
	height: 125px;
}


#MorokaiAbilities
{
	width: 100%;
	height: 100%;
	flow-children: none;
}

#MorokaiAbilities.Hidden
{
	visibility: collapse;
}


#MorokaiAbilities > .ClickCatcher
{
	vertical-align: top;
	width: 100%;
	height: 100%;
	background-color: #000000BB;
}

#MorokaiHP
{
	width: 200px;
	height: 69px;
	border-radius: 0px;

	background-color: none;
	box-shadow: none;
	margin-top: 8px;
	z-index: 5;
}

#MorokaiHP .ProgressBarLeft
{
	background-color: none;
}

#MororkaiHPDragon
{
	width: 200px;
	height: 108px;
	background-image: url("s2r://panorama/images/morokai_side_lefttop_png.vtex");
	background-size: 200px 108px;

}

#MorokaiHPRound
{
	width: 200px;
	height: 108px;
	background-image: url("s2r://panorama/images/morokai_side_leftmiddle_white_png.vtex");
	background-size: 200px 108px;

	padding-top: 20px;
	padding-bottom: 30px;

    visibility: collapse;
}
.MorokaiSide_Dire #MorokaiHPRound
{
	background-image: url("s2r://panorama/images/morokai_side_leftmiddle_purple_png.vtex");
}

.DireMorokaiMarching .MorokaiSide_Dire #MorokaiHPRound
{
    visibility: visible;
}

.RadiantMorokaiMarching .MorokaiSide_Radiant #MorokaiHPRound
{
    visibility: visible;
}


#MorokaiHP .ProgressBarRight
{
	width: 200px;
	height: 69px;
	background-image: url("s2r://panorama/images/morokai_side_bottom_png.vtex");
	background-size: 200px 108px;
	background-position: 0% -8px;
}

#MorokaiHP
{
	background-color: none;
	box-shadow: none;
}

#MorokaiHPLabel
{
	horizontal-align: center;
}

.EnemyTeam #MorokaiHP .ProgressBarLeft
{
	hue-rotation: 245deg;
	saturation: 2;
}

#MorokaiTimer
{

	horizontal-align: center;
	margin-top: 40px;
	margin-left: 83px;
	text-align: center;
	width: 200px;
	height: 89px;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/morokai_centerclock_png.vtex");
	background-size: 100% 85%;
}

#MorokaiTimer Label
{
	width: 100%;
	margin-top: 6px;
	text-align: center;
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( #d8c157) );
	letter-spacing: 1px;
	font-family: RadianceM;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 1px 1px 1px 2.0 #000000aa;
	text-transform: uppercase;
}

.NoTimer #MorokaiTimer Label
{
	visibility: collapse;
}

#MorokaiTimerLabel
{
	margin-top: 10px;
}

#MorokaiImage
{
    margin-left: 150px;
	width: 200px;
	height: 108px;
	background-image: url("s2r://panorama/images/morokai_side_bottom_png.vtex");
	background-size: 100% 100%;
	flow-children: none;
}

#DurationLeft
{
	width: 40px;
	text-align: center;
	vertical-align: bottom;
	margin-bottom: 25px;
	margin-left: 212px;
	color: white;
	letter-spacing: 1px;
	font-family: RadianceM;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 1px 1px 0px 2.0 #00000011;
	text-transform: uppercase;
	visibility: collapse;
}

.RadiantMorokaiMarching .MorokaiSide_Radiant #DurationLeft,
.DireMorokaiMarching .MorokaiSide_Dire #DurationLeft
{
	visibility: visible;
}

#MorokaiLevel
{
	font-size: 34px;
	font-weight: bold;
	text-align: center;
	margin-left: 15px;
	text-shadow: 0px 0px 3px 3.7 #EC780E24;
	color: white;

	vertical-align: top;
	horizontal-align: left;
    width: 75px;
    margin-top: 40px;
    margin-left: 115px;
}


.MorokaiSide_Dire #MorokaiLevel
{
	color: #3f0053;
}

.LevelUpTab
{
	width: 100%;
	height: 26px;
	margin-top: 44px;
	visibility: collapse;
}

.CanBranchBeUpgraded .LevelUpTab
{
	visibility: visible;
}

.LevelUpButton
{
	width: 100%;
	height: 26px;
	background-image: url("s2r://panorama/images/hud/reborn/levelup_button_2_psd.vtex");
}

.LevelUpIcon
{
	horizontal-align: center;
	vertical-align: center;
	height: 18px;
	width: 18px;
	background-image:  url("s2r://panorama/images/hud/reborn/levelup_plus_well_psd.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}


#MorokaiEssenceMeterOuter
{
	horizontal-align: left;
	vertical-align: bottom;
	height: 250px;
	width: 300px;

	margin-left: 250px;
	margin-bottom: 10px;
}

.AspectRatio16x10 #MorokaiEssenceMeterOuter
{
	margin-left: 250px;
}

.AspectRatio4x3 #MorokaiEssenceMeterOuter
{
	margin-left: 250px;
	margin-bottom: 80px;
}

#MorokaiEssenceMeter
{
	height: 245px;
	width: 200px;

	horizontal-align: center;
	vertical-align: bottom;

	transition-property: pre-transform-scale2d, brightness;
	transition-duration: 0.05s;
	transition-timing-function: ease-in-out;
	transition-delay: 0.0s;
}

#MorokaiEssenceMeter:hover
{
	brightness: 1.3;
}

.MorokaiEssenceForeground
{
	horizontal-align: center;
	vertical-align: bottom;
	background-image: url("s2r://panorama/images/morokai_essence_meter_foreground_png.vtex");

	width: 115px;
	height: 90%;

	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.MorokaiEssenceForegroundLit
{
	horizontal-align: center;
	vertical-align: bottom;
	background-image: url("s2r://panorama/images/morokai_essence_meter_foreground_lit_png.vtex");

	width: 115px;
	height: 90%;

	background-size: 100% 100%;
	background-repeat: no-repeat;

	visibility: collapse;
}


.MeterFull .MorokaiEssenceForegroundLit
{
	visibility: visible;
}


.MorokaiEssenceBackground
{
	horizontal-align: center;
	vertical-align: bottom;
	background-image: url("s2r://panorama/images/morokai_essence_meter_background_png.vtex");

	width: 115px;
	height: 90%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.MorokaiEssenceContainer
{
	height: 90px;
	width: 35px;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 55px;
}

.MorokaiEssence
{
	height: 0%;
	width: 100%;

	vertical-align: bottom;

	transition-property: height;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	transition-delay: 0.0s;

	background-size: 130px 245px;
	background-position: 50% 100%;
	background-repeat: no-repeat;

	//opacity-mask: url("s2r://panorama/images/morokai_essence_meter_opacity_mask_png.vtex");
}

.MorokaiEssenceFullGlow
{
	horizontal-align: center;
	vertical-align: top;
    padding-top: -60px;
	width: 200px;
	height: 200px;
	visibility: collapse;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_irregular_png.vtex");
}

.MeterFull .MorokaiEssenceFullGlow
{
	visibility: visible;
}

.GemCount
{
	horizontal-align: center;
	vertical-align: bottom;
	font-size: 20px;
	font-weight: bold;
	color: white;
	letter-spacing: 1px;
	text-shadow: 0px 0px 20px accentColor;
}

#MorokaiEssenceMeter > .InfoIcon
{
	horizontal-align: right;
	vertical-align: top;
	margin-top: 20px;
	margin-right: 60px;
	wash-color: #ffffff;
	width: 13px;
	opacity: 0.5;
}

.MarchParticle
{
    width: 100%;
    height: 100%;
    overflow: clip;
}

.MarchParticle_FX
{
    width:400px;
    height:266px;
}
.MorokaiSide_Radiant .MarchParticle_FX
{
    horizontal-align: right;
    margin-right: 265px;
}
.MorokaiSide_Dire .MarchParticle_FX
{
    horizontal-align: left;
    margin-left: 265px;
}


/* Info Popup */

#GameInfoPopup
{
	width: 750px;
	height: 600px;
	background-image: url("file://panorama/images/custom_game/morokai2.psd");
	background-size: 100%;
	box-shadow: 0px 0px 20px #020404EF;
	vertical-align: center;
	horizontal-align: center;
	opacity: 0;
	pre-transform-scale2d: .1;
	transition-property: width, pre-transform-scale2d, opacity;
	transition-duration: .32s;
	transition-timing-function: ease-in-out;
	/*border: 1px solid #5fa39d30;*/
	margin-bottom: 80px;
	overflow: noclip;
}

.SeqImg
{
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
}

.SeqBg
{
	background-repeat: repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
}

#seq
{
    overflow: clip;
	pre-transform-scale2d: 0.5, 0.5;
}

#seq_bg
{
	animation-name: seq_bg_anim;
	animation-duration: TotalLength;
	animation-timing-function: TimingFunc;
	animation-iteration-count: IterationCount;
    margin-left: 0px;
}

@keyframes 'seq_bg_anim'
{
	0%
	{
		pre-transform-scale2d: 0.5;
	}

	100%
	{
	    pre-transform-scale2d: 1.0;
	}
}

#GameInfoPopup.Visible
{
	opacity: 1;
	pre-transform-scale2d: 1;
}

.GameInfoContents
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;
	height: 100%;
}

.CavernGameInfo
{
	width: 92%;
	flow-children: down;
	horizontal-align: left;
	margin: 10px;
}

Label
{
	font-size: 18px;
	color: #999999;
	vertical-align: top;
}

#Title
{
	flow-children: right;
	width: 100%;
}

#TitleIcon
{
	width: 64px;
	height: 64px;
	vertical-align: center;
}

#TitleName
{
	width: 100%;
	text-align: center;
	vertical-align: center;
	text-shadow: 0px 0px 12px #d9bee620;
	font-size: 48px;
	font-family: defaultFont;
	text-transform: uppercase;
	font-weight: black;
	color: gradient( linear, 0% 0%, 0% 100%, from( #000 ), to( #1b2f2d ) );
	text-shadow: 0px 0px 24px #5fa39d;
	letter-spacing: 14px;
}

#BriefDescription
{
	font-size: 24px;
	color: #f4e5ae;

	text-align: center;
	horizontal-align: center;
	width: 100%;
	margin-top: -20px;
	margin-bottom: 10px;
	height: 70px;
	text-overflow: shrink;
}


.Header,
.SubHeader
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #706981 ), to( #c3b3d1 ) );
	font-size: 30px;
	font-weight: semi-bold;
	text-transform: uppercase;
	horizontal-align: center;
}

.Header
{
	margin-top: 30px;
	letter-spacing: 2px;
}

.SubHeader
{
	font-size: 18px;
	margin-top: 5px;
	text-align: left;
	width: 100%;
	letter-spacing: 1px;
}

#ObjectiveContainer
{
	horizontal-align: center;
}

#ObjectivesImage
{
	width: 100%;
	margin-top: 0px;
	margin-bottom: -200px;
}

.DescriptionGroup
{
	width: 362px;
	height: 100%;
	text-align: left;
	padding-left: 30px;
	padding-right: 30px;
	flow-children: down;
}

.BodyImage
{
	width: 300px;
	height: 150px;
	background-color: #666;
	vertical-align: center;
	box-shadow: 0px 0px 60px #00000080;
}

.BodyText
{
	height: 100%;
	margin-top: 20px;
	width: 100%;
	text-align: center;
	vertical-align: center;
	color: #d9ca95;
}

#OkButton
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 32px;
}

#MorokaiMarchIcon, #MorokaiMarchBG
{
	height: 80px;
	width: 106px;
	margin-top: 25px;
	horizontal-align: center;
	background-size: 85% 85%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	z-index: 2;
}

#MorokaiMarchBG
{
	z-index: 1;
	background-image: url("s2r://panorama/images/morokai_centerclock_map_png.vtex");
}

.Enemy_top #MorokaiMarchIcon
{
	background-image: url("s2r://panorama/images/morokai_centerclock_map_enemy_top_png.vtex");
}

.Enemy_mid #MorokaiMarchIcon
{
	background-image: url("s2r://panorama/images/morokai_centerclock_map_enemy_center_png.vtex");
}

.Enemy_bot #MorokaiMarchIcon
{
	background-image: url("s2r://panorama/images/morokai_centerclock_map_enemy_bot_png.vtex");
}

.Ally_top #MorokaiMarchIcon
{
	background-image: url("s2r://panorama/images/morokai_centerclock_map_ally_top_png.vtex");
}

.Ally_mid #MorokaiMarchIcon
{
	background-image: url("s2r://panorama/images/morokai_centerclock_map_ally_center_png.vtex");
}

.Ally_bot #MorokaiMarchIcon
{
	background-image: url("s2r://panorama/images/morokai_centerclock_map_ally_bot_png.vtex");
}

.BattlePassBrightButton {
	min-width: 200px;
}

.MorokaiToast
{
	/*background-image: url("s2r://panorama/images/hud/reborn/item_purchase_bg_psd.vtex");*/
    background-size: cover;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #162034 ), to( #0b011930 ));
	box-shadow: 0px 0px 60px #00000020;
	height: 144px;
	width: 422px;
	flow-children: right;
	horizontal-align: right;
	margin-bottom: 20px;
	padding: 10px 0px 10px 10px;
}

.UpgradeToastHeader
{
	padding: 5px;
}

.MorokaiLearnedHeaderBranch
{
	text-transform: uppercase;
	vertical-align: center;
	padding: 0px;
	margin-top: 5px;
	color: #ffffff;
	font-weight: bold;
	letter-spacing: 1.5px;
	font-size: 16px;
	/*margin-left: 5px;*/
	margin-bottom: 5px;
}

#UpgradingPlayerHero {
	margin-top: 2px;
	margin-left: 5px;
	horizontal-align: right;
	width: 20px;
	height: 20px;
}

.MorokaiLearnedAbilityName {
	color: #ffffff;
	font-weight: semi-bold;
	margin-left: 5px;

}

.MorokaiLearnedAbilityDesc
{
	text-overflow: shrink;
	line-height: 18px;
	margin-left: 5px;
}

.MorokaiToast DOTAAbilityImage
{
	max-width: 64px;
	max-height: 64px;
	padding: 5px;
	vertical-align: center;
}

.AbilityToast {
	margin-top: -10px;
}

.MorokaiToast.Collapse
{

}

#MorokaiAbilityLearned {
	width: 60px;
	height: 60px;
	margin-right: 10px;
	vertical-align: top;
	background-color: black;
	margin-top: 10px;
	margin-left: 10px;
	border: 3px solid #444444;
	box-shadow: 0px 0px 15px #000000;
}

.BranchJungle #MorokaiAbilityLearned {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #95cf4a ), to( #2d944f ) );
}

.BranchVolcano #MorokaiAbilityLearned {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #f15f5f ), to( #b73f3f ) );
}

.BranchStorm #MorokaiAbilityLearned {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #01d8e3 ), to( #3f84b7 ) );
}

.BranchJungle .MorokaiLearnedHeaderBranch  {
	color: gradient( linear, 0% 0%, 0% 100%, from( #95cf4a ), to( #2d944f ) );
}

.BranchVolcano .MorokaiLearnedHeaderBranch {
	color: gradient( linear, 0% 0%, 0% 100%, from( #f15f5f ), to( #b73f3f ) );
}

.BranchStorm .MorokaiLearnedHeaderBranch {
	color: gradient( linear, 0% 0%, 0% 100%, from( #01d8e3 ), to( #3f84b7 ) );
}

@define toastExitDuration: 0.3s;

#ToastManager
{
	horizontal-align: right;
	vertical-align: bottom;
	margin-bottom: 300px;
	flow-children: down;
}

#ToastManager > .ToastPanel
{
	opacity: 0.0;
	transform: translateX( 40px );

	transition-property: position, opacity, transform;
	transition-duration: toastExitDuration;
}

#ToastManager > .ToastPanel.ToastVisible
{
	opacity: 1.0;
	transform: none;
}

.BranchProgress
{
	width: 50px;
	height: 50px;
	border-radius: 50px;

	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	z-index: 1;
}

.BranchBackground
{
	width: 50px;
	height: 50px;
	border-radius: 50px;

	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	z-index: 1;
}

.BranchProgress.Jungle
{
	margin-left: 155px;
}

.Jungle .BranchBackground
{
	background-image: url("s2r://panorama/images/morokai_talentring_green_light_png.vtex");
}

.Jungle.Empty .BranchBackground
{
	background-image: url("s2r://panorama/images/morokai_talentring_green_dark_png.vtex");
}

.BranchProgress.Storm
{
	margin-left: 165px;
	margin-top: 52px;
}

.Storm .BranchBackground
{
	background-image: url("s2r://panorama/images/morokai_talentring_blue_light_png.vtex");
}

.Storm.Empty .BranchBackground
{
	background-image: url("s2r://panorama/images/morokai_talentring_blue_dark_png.vtex");
}

.BranchProgress.Volcano
{
	margin-left: 215px;
	margin-top: 75px;
}

.Volcano .BranchBackground
{
	background-image: url("s2r://panorama/images/morokai_talentring_red_light_png.vtex");
}

.Volcano.Empty .BranchBackground
{
	background-image: url("s2r://panorama/images/morokai_talentring_red_dark_png.vtex");
}


.BranchProgress CircularProgressBar
{
	height: 100%;
	width: 100%;
	transform: scaleY( -1 ) scaleX( -1 );
}

.BranchProgress .CircularProgressBarFG
{
	height: 100%;
	width: 100%;
	border-radius: 50%;
}

.BranchProgress .CircularProgressBarBG
{
	height: 100%;
	width: 100%;
	border-radius: 50%;
	background-color: black;
}


.BranchProgress.Jungle .CircularProgressBarFG
{
	background-color: #4df803;
}

.BranchProgress.Storm .CircularProgressBarFG
{
	background-color: #03a2ff;
}

.BranchProgress.Volcano .CircularProgressBarFG
{
	background-color: red;
}

.MorokaiIcon
{
	height: 17px;
	width: 17px;

	background-image: url("s2r://panorama/images/minimap_morokai_psd.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;

	visibility: collapse;
	z-index: 3;
}

.AllyPush .MorokaiIcon
{
	wash-color: #00ff5b;
}

.EnemyPush .MorokaiIcon
{
	wash-color: #ff0018;
}

.DirePush .MorokaiIcon.Dire 
{
	margin-left: 125px;
	margin-top: 48px;
	visibility: visible;
}

.RadiantPush .MorokaiIcon.Radiant 
{
	margin-left: 56px;
	margin-top: 48px;
	visibility: visible;
}